header{
    height: 3rem;
    background-color :#1EC800;
    position: relative;
    border-bottom: 0.05rem rgb(21, 167, 33) solid;
    /* border: white dashed; */
}
.header-container{
    position: absolute;
    object-fit: cover;
    display: grid;
    grid-template-columns: 70px 120px 35vw 120px 50px;
    margin-inline-start: 23%;
    margin-top: 8px;
    /* min-width: 53%; */
}

#main-logo{
    width: 55px;
    margin-top: 10px;
  }  
#service-nm{
    margin-top: 1%;
    color: white;
    font-size: 1.3rem;
    font-weight:bold;
 }

#login-button{
    margin-right: 25px;
    background-color: #1EC800;
    font-style:normal;
    font-size: 0.7rem; 
    border:rgb(21, 167, 33)  0.02rem solid;
    color:white;
    border-radius: 2px;
}
#last-header-container{
    border-left: rgb(21, 167, 33) solid 0.02rem;
    border-right: rgb(21, 167, 33) solid 0.02rem;
}
#bento-white-menu{
    margin-top: 15%;
    margin-bottom: 3%;
    width: 1rem;
}
