header{
    min-height: 54px;
    background-color :#1EC800;
    position: relative;
}
.header-container{
    
    display: grid;
    grid-template-columns: 35% 55% 10% 10%;
    justify-content:space-between;
    object-fit: cover;
    align-items: stretch;
    display: grid;margin-left: 23%;  margin-right: 23%;    
}

#first-header-container{
    display: grid;
    grid-template-columns: 15% 60%;
    gap: 10px ;
    margin-top: 5%;
    margin-bottom: 3%;
}
#main-logo{
  width: 55px;
  position: absolute;
  /* justify-content: flex-start; */
}

#last-header-container{
    margin-top: 5%;
    margin-bottom: 3%;
}
#login-button{
    margin-top: 10%;
    margin-bottom: 3%;
}
#bento-white-menu{
    margin-top: 5%;
    margin-bottom: 3%;
    width: 20px;
  /* justify-content: flex-start; */
}
#service-nm{
   color: white;
   font-size: 20px;
   font-weight:normal;
    /* padding-left: 10%; */
   /* justify-content:flex-end; */
}
/* #login-button{
    /* justify-content: flex-end; */

/* 헤더:relative 자식 요소들한테는 앱솔루트 줘서 위치를 잡아준다 */
