header{
    height: 3rem;
    background-color :#1EC800;
    /* position: fixed; */
    border-bottom: 0.05rem rgb(21, 167, 33) solid;
    display: flex;
    justify-content: space-between;
    
}
.header-container{
    /* position: absolute; */
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border: black solid 1px;
    /* margin-top: 8px; */
    /* min-width: 53%; */
}
.header-component{
    align-items: flex-end;
    border: black solid 1px;
}


#main-logo{
    width: 55px;
    margin-top: 10px;
  }  
#service-nm{
    margin-top: 1%;
    color: white;
    font-size: 1.3rem;
    font-weight:bold;
 }

#login-button{
    display: block;
    margin-right: 25px;
    background-color: #1EC800;
    font-style:normal;
    font-size: 0.7rem; 
    border:rgb(21, 167, 33)  0.02rem solid;
    color:white;
    border-radius: 2px;
}
#last-header-container{
    border-left: rgb(21, 167, 33) solid 0.02rem;
    border-right: rgb(21, 167, 33) solid 0.02rem;
}
#bento-white-menu{
    margin-top: 15%;
    margin-bottom: 3%;
    width: 1rem;
}


/* #login-button{
    /* justify-content: flex-end; */

/* 헤더:relative 자식 요소들한테는 앱솔루트 줘서 위치를 잡아준다 */
