header{
    height: 3rem;
    background-color :#1EC800;
    border-bottom: 1px rgb(21, 167, 33) solid;
    width: 1150px;
    }
.header-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    gap: 885px;
    height:100%;
    justify-content: center;
    object-fit: cover;
}
.header-container .header-component{
    /* flex-flow: row wrap;
    /* flex-direction: column; */
    display: inline-flex;
    border: red dashed 1px; 
}

.header-container #main-logo{
    width: 55px;
    vertical-align:middle;
    border: purple dashed 1px;
}  
.header-container #service-nm{
    /* margin-top: 1%; */
    color: white;
    font-size: 22px;
    font-weight:bold;
    border: purple dashed 1px;
}

#last-header-container{
    border-left: rgb(21, 167, 33) solid 0.02rem;
    border-right: rgb(21, 167, 33) solid 0.02rem;
}

#login-button{
    display: block;
    margin-right: 25px;
    background-color: #1EC800;
    font-style:normal;
    font-size: 0.7rem; 
    border:rgb(21, 167, 33)  0.02rem solid;
    color:white;
    border-radius: 2px;
}

#bento-white-menu{
    
    margin-top: 15%;
    margin-bottom: 3%;
    width: 1rem;
}


/* #login-button{
    /* justify-content: flex-end; */

/* 헤더:relative 자식 요소들한테는 앱솔루트 줘서 위치를 잡아준다 */
