header{
    height: 3rem;
    background-color :#1EC800;
    border-bottom: 1px rgb(21, 167, 33) solid;
    width: 100%;
    }

.header-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    gap:670px;
    height:100%;
    margin: 0 auto;
    justify-content: center;
    object-fit: cover;
    place-items: center;
}
.header-container .header-component{
    display: inline-flex;
}

.header-container #main-logo{
    width: 55px;
    margin-right: 0.5rem;
}  
.header-container #service-nm{
    margin : auto 0;
    color: white;
    font-size: 22px;
    font-weight:bold;
}

#last-header-container{
    padding: 0.9rem;
    border-left: rgb(21, 167, 33) solid 0.02rem;
    border-right: rgb(21, 167, 33) solid 0.02rem;
}

#login-button{
    display: block;
    margin: auto 10px;
    background-color: #1EC800;
    font-style:normal;
    font-size: 0.7rem; 
    border:rgb(21, 167, 33)  0.02rem solid;
    color:white;
    border-radius: 2px;
}

#bento-white-menu{
    width: 1rem;
    margin: auto 0;
}


/* #login-button{
    /* justify-content: flex-end; */

/* 헤더:relative 자식 요소들한테는 앱솔루트 줘서 위치를 잡아준다 */
