.title-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: grey solid 2px;
    align-items: center;
    width: 1150px;    
}

#term-title{
    font-size: 22px;
    font-weight: bold;        
    
}
.language-dropdown {
    width: 8rem;
    list-style: none;
    justify-content: flex-end;
  }
.language-dropdown ul{
    float:right;
}
.language-content{
    background-color: #f9f9f9;
    border: rgb(180, 180, 180) solid 1px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 5%;
    list-style: none; 
}

.types-term{
    margin-top: 25px;
}
table{
    min-width: 60%;
    width: 1150px;
}
.types-term .sub-termtype td{
    font-size: 1rem;
    height: auto;
    width: auto;
    padding : 1rem 1rem; 
    margin:0.5rem;    
    border: rgb(201, 201, 201) 0.03rem solid;
    border-collapse: collapse;
}

.sub-terms-container{
    display: flex;  
    align-items: center;
}

.sub-terms-container tr td{
    font-size: 1.2rem;
    /* justify-content: space-between; */
    border-right: rgb(168, 168, 168) solid 1px;
    text-align:center;
}
.sub-terms-container #prev-term{
  border: none;
  font-size: 0.8rem;
  color: #1EC800;
}
.sub-terms-container :nth-last-child(2){
  border: none;
}

.terms-detail{
  font-size: 13px;
  width: 1150px;  
}

.terms-detail li{
  float: left;
}


