footer{
    width:100%;
    height:150px;
    background: black;
    position: relative;
    transform: translateY(0%);
    /* position: absolute; */
    /* bottom:0; */
}
footer .ft_wrap{
    width:90%;
    height:100%;
    background: red;
    margin:0 auto;


    /* transform : translateY(-100%); */
}
