.wrap{
    width: 100%;
}

header{
    width:100%;
    height:86px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

header .header_wrap{
    width:90%;
    height:100%;    
    display: flex;
    align-items: center;
    margin:0 auto;
    justify-content: space-between;
}

header .header_wrap .header_logo{
    width: 87px;
}
header .header_wrap .header_logo .main_logo{
    background: url(img/header_logo.png) no-repeat; 
    width:100%;
    height:17px;
    
}
header .header_wrap .head_nav{
    width: 60%;
    align-items: center;
    display: flex;
}
header .header_wrap .head_nav ul{
    position: relative;
    margin: 0 auto;  
}

header .header_wrap .head_nav ul > li{
    height:100%;
    margin: 35px 40px;
    display: inline-block;
    position: relative;
}
header .header_wrap .head_nav ul > li a{
    font-weight: bolder;
    color: black;
    text-decoration: none;
}
header .header_wrap .head_nav li::before{
    content: '';
    position: absolute;
    background-color: #1ec545;
    bottom: -5px;
    width: 100%;
    height:3px;
    transform: scaleX(0);
    transition:all 0.3s ease-in;
    left:0;
    transform-origin: 0 0;
}

header .header_wrap .head_nav ul > li:hover::before{
    transform: scaleX(1);

}

header .header_wrap .head_lang{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;

}
header .header_wrap .head_lang .kor{
    position: relative;
    margin-right:15px;
}
header .header_wrap .head_lang .kor::before{
    content: '';
    position: absolute;
    background-color: grey;
    width:1px;
    height: 100%;
    transform: scaleX(1);
    right:-7.5px;
    transform-origin: 0 0;

}
header .header_wrap .head_lang .en{
    margin-right: 30px;
    color:rgb(183, 182, 182);
}

header .header_wrap .head_lang .line >p{
    position:relative;  
}
header .header_wrap .head_lang .line :nth-child(2){
    margin-top:8px;
}
header .header_wrap .head_lang .line :nth-child(3){
    margin-top:16px;
}



header .header_wrap .head_lang .line >p::before{
    position: absolute;
    background: black;
    width: 25px;
    height: 2px;
    content: '';
    transform: scaleX(1);
}

header .header_wrap .head_lang .line:hover >p::before{
    background-color: #1ec545;
    transform: scaleX(1);
}
