main{
    width: 100%;
}

main .slide_wrap{
    width: 100%;
    height:700px;
    background-color: brown;
}

/* main .slide_wrap .slide_main .slide_1{
    width: 100%;
    height:100%;
    background: url(https://www.navercorp.com/navercorp_/resource/NAVER_AI_video_pc.mp4);
} */


/* 메인리스트 시작 */
main .content{
    width: 100%;
}
main .content .content_wrap{
    width:90%;
    margin: 0 auto;
}

main .content .content_wrap ul{
    display: flex;
    width:100%;
    border: red 1px solid;
    flex-wrap:wrap;
    overflow: hidden;
}
main .content .content_wrap ul li{
    border: blue 1px solid;
    width:30%;    
    /* height:400px; */
}
main .content .content_wrap ul li img{
    height:300px;
    
}
