header{
    width:100%;
    /* background-color: grey; */
    height: 80px;
    position: fixed;
    background-color: aliceblue;
}

.blind{
    position: absolute;
    overflow: hidden;
}
header .header-wrap{
    min-width: 1100px;
    max-width: 1600px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: aliceblue;
}
header .header-wrap .header_logo{
    background: url(img/header_logo.png) no-repeat;
    width:87px;
    height:17px;
    float: left;
    margin : 30px 0 0 30px;
}

/* NAV시작 */

header .header-wrap nav{
    display: inline-block;
    width: 760px;
    height: 100%;
}

header .header-wrap nav .gnb_menu{
    width: 100%;
}

header .header-wrap nav .gnb_menu .gnb_menu_list{
    float: left;
    padding-inline-start: 40px;
    padding :29px 0 30px;
    height:100%;
    margin: 0 30px;   
}

header .header-wrap nav .gnb_menu .gnb_menu_list a{
    font-weight: bolder;
}
header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_menu_item{
    font-size: 15px;  
    text-decoration: none;
    color: #555;
    position:relative;
    font-weight: bold;
}

header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap{
    min-width: 1100px;
    background-color: #1ec545;
    height: 367px;
    top:80px;
    left:0;
    right:0;
    position: absolute;    
    display: none;
}

header .header-wrap nav .gnb_menu .gnb_menu_list:hover .gnb_dropMenu_wrap {
    display: block;
}

header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap >li{
    width: 190px;
    /* align-items: center; */
    height: 100%;
    /* border: black dashed 1px; */
    vertical-align: top;
    display: inline-block;
    position: relative;
   /* border-inline-start: whitesmoke 0.3px solid; */
    border-inline-end: rgb(168, 214, 164) 0.05px solid ;
}

header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap >li:first-child{
   border-inline-start: rgb(168, 214, 164) 0.05px solid ;
}

header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap .gnb_dropMenu {
    text-align: left;
    margin:0 0 0 28px;
    
}
header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap .gnb_dropMenu_item {
    text-decoration: none;
    color: rgb(216, 250, 213);
    /* font-weight: bold; */
    margin-bottom: 10px;
    display: inline-block;    
}
header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap .gnb_dropMenu_item span{

}
header .header-wrap nav .gnb_menu .gnb_menu_list .gnb_dropMenu_wrap .gnb_dropMenu_item strong {
    color: rgb(234, 255, 232);
    font-weight: bolder;
    padding: 0 0 18px 0;
    display: inline-block;
    /* word-break: break-all; */
    white-space: pre-line;

}
.all_service_btn{
    background: url(img/sprite.png) -81px 0px no-repeat;
    width:18px;
    height:18px;
    position: absolute;
    right: 70px;
    top: 61px;
    

}

/* UTILS */

header .header-wrap .header_util{
    float: right;    
}
header .header-wrap .header_util .header_util_lang{
    float:left;
    margin: 0 auto;
    padding-inline-start: 40px;
    padding :29px 0 30px;
    
}
header .header-wrap .header_util .header_util_lang a{
    font-size: 14px;    
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

header .header-wrap .header_util .header_util_lang :first-child{
    border-right : gray solid 2px;
    padding-inline-end: 0.5em;
}
header .header-wrap .header_util .sitemap_box{
    float:right;
    margin: 0 auto;    
    padding-inline-start: 40px;
    padding :29px 30px 30px;
    /* letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default; */
}


header .header-wrap .header_util .sitemap_box .btn_sitemap .btn_line{
    height: 2px;
    width: 100%;
    display:block;
    /* position:absolute; */
    background-color: #333;

}

