main{
    min-width: 100%;
}

main .slide_container{
    height : 850px;
    /* background: url(img/img_main_slide12.jpg); */
    width: 100%;
    display:inline;
}


/* 버튼 영역  */
main .slide_container .slide-content-components .btn_prev a {
    background: url(img/sprite.png) -296px -99px no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    left: 85px;
    bottom: 280px;
}

main .slide_container .slide-content-components .btn_next a{
    background: url(img/sprite.png) -346px -99px no-repeat;
    width:50px;
    height:50px;
    position:absolute;
    right:85px;
    bottom: 280px;
}

main .slide_container .slide_content_text .ctnt_title{
    position: absolute;
    font-size: 35px;
    left :210px;
    bottom: 350px;
    color:white;
    
}

main .slide_container .slide_content_text .slide_text_ctnt{
    position: absolute;
    font-size: 20px;
    left :210px;
    bottom: 280px;
    color:white;
    font-size: 16px;
}


/* 컨텐츠 영역 */
main .slide_ctnt_container{
    width:100%;
    display: relative;
    height : 750px;
    /* overflow: hidden; */
}

main .slide_ctnt_container .slide_ctnt_list{
    float: left;
    width: 13000px;
    height: 100%;
}

main .slide_ctnt_container .slide_ctnt_list .slide_ctnt{
    float: left;
    /* display: inline-block; */
    width:100%;
    height:750px;
    margin:0;
}


